/*general*/
*{
	box-sizing: border-box;
	font-family: Calibri;
}
.none{
	display:none!important;
}
body {
    padding: 0;
    margin: 0;
}
button, .button{
	cursor:pointer;
	transition-property: transform;
	transition-duration: 0.05s;
    transition-timing-function: linear;
    -webkit-user-select: none;
}
button:active, .button:active{
	transform:scale(0.85);
}
input, .input{
	padding-left: 10px;
	padding-right: 10px;
	line-height: 25px;
	border-radius: 5px;
	font-size: 16px;
	display: inline-block;
    border: 1px solid #999;
}
/*info box*/
.infoMessageBox {
    position: fixed;
    display: inline-block;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    transition: opacity 0.5s;
    opacity: 0;
    z-index: 20;
}
/*loader*/
.globalLoaderContainer {
    position: fixed;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    z-index: 30;
    transition: opacity 0.5s;
    opacity: 0;
}
.globalLoaderImage {
    height: 50px;
    width: 50px;
    background-image: url(/images/loader.svg);
    background-size: cover;
    position: absolute;
    top: calc(50vh - 25px);
    left: calc(50vw - 25px);
}
/*image zoom*/
.imageZoomBackground {
    z-index: 15;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.7);
    opacity: 0;
    cursor: pointer;
}
.imageZoomImage {
    position: absolute;
    height: calc(90vh);
    width: calc(90vw);
    top: 5vh;
    left: 5vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.imageZoomExitButton {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: white;
    font-size: 20px;
    color: #444;
    /*transition: opacity 0.5s;*/
    /*opacity: 0;*/
}
/*Top Menu*/
.MWATopMenu {
    --top-menu-height: 40px;
    width: 100%;
    background-color: black;
    color: white;
	height: var(--top-menu-height);
	line-height: 40px;
}
.MWATopMenuLeftSection, .MWATopMenuRightSection{
	width: 50%;
    display: inline-block;
	vertical-align: middle;
}
.MWATopMenuLeftSection{
	padding-left: 10px;
}
.MWATopMenuRightSection {
	text-align: right;
	padding-right: 10px;
}
.MWATopMenuTitle {
    font-size: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.MWATopMenuUserName {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 35px);
    padding-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.MWATopMenuUserImage {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
	height: 30px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid #666;
}
.MWATopMenuUserSection .userMenu {
    position: absolute;
    background: black;
    right: 0;
    min-width: 200px;
    padding: 5px 10px 5px 10px;
    border-radius: 0 0 5px 5px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    top: 0;
    transition: 500ms;
}
.MWATopMenuUserSection:hover .userMenu{
    visibility: visible;
    opacity: 1;
    top: var(--top-menu-height);
}

.MWATopMenuUserSection .userMenu button:hover {

    background-color: #666;

}
.MWATopMenuUserSection .userMenu button {
    width: 100%;
    text-align: inherit;
    font-size: 20px;
    background: transparent;
    border: none;
    color: white;
    border-bottom: 1px solid #666;
    padding: 5px;
    transition: 300ms background-color;
}
.MWATopMenuUserSection .userMenu button:last-child {
    border-bottom: none;
}
.MWATopMenuUserSection .userMenu button:hover {
    background-color: #666;
}

/*MWA Page*/
.MWAPageContainer {
    overflow: hidden;
    text-align: center;
    width: 100%;
    background-color: #222;
}
.MWAPageContainer > div {
    text-align: left;
}
.MWAMainSection {
    width: 100%;
    height: calc(100vh - 40px);
    max-width: 1400px;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.MWALeftPanel, .MWARightPanel {
    height: 100%;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.MWALeftPanel {
    width: 350px;
    background-color: #282828;
    color: white;
    --search-bar-height: 25px;
    --search-bar-spacing: 7px;
} 
.MWARightPanel {
    width: calc(100% - 350px);
    /* --group-menu-height: 50px */
    --group-menu-height: 0px;
    --write-section-height: 50px;
    background-image: url(/images/default_background.jpg);
    background-size: cover;
}
.MWALeftPanelTopBar {
    height: calc(var(--search-bar-height) + 2 * var(--search-bar-spacing));
    /* border-bottom: 1px solid #aaa; */
    background-color: #4a4a4a;
    padding: var(--search-bar-spacing);
    margin: 0;
}
.MWALeftPanelSearchInput, .MWALeftPanelSearchButton{
    height: var(--search-bar-height);
    display: inline-block;
    vertical-align: top;
    border: none;
    border-radius: calc(var(--search-bar-height) / 2);
    background-color: white;
}
.MWALeftPanelSearchInput {
    width: calc(100% - var(--search-bar-height) - var(--search-bar-spacing));
    margin-right: var(--search-bar-spacing);
    vertical-align: middle;
}

.MWALeftPanelSearchButton {
    width: var(--search-bar-height);
    padding: 0;
    background-image: url(../images/search.png);
    /*TODO: replace with actual designed image*/
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    border: 0; 
	vertical-align: middle;
	display: inline-block;
}
.MWALeftPanelSearchButton:active{
    border: 1px;
}
.MWAWriteSection {
    --write-section-right-margin: 20px;
    --write-section-input-sizes: 30px;
    --write-section-vertical-padding: calc((var(--write-section-height) - var(--write-section-input-sizes)) / 2);
    padding: var(--write-section-vertical-padding) 3px;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: var(--write-section-right-margin);
    height: var(--write-section-height);
    width: calc(100% - var(--write-section-right-margin));
}
.MWAMessagesSection {
    position: relative;
    overflow: hidden;
    /* height: calc(100% - var(--write-section-height) - var(--group-menu-height)); */
    height: calc(100% - var(--group-menu-height));
    transition: height 0.5s;
}
.writeExtended .MWAMessagesSection{
    /* height: calc(100% - var(--write-section-height) - var(--group-menu-height) - 50px); */
}
.writeExtended .MWAWriteSectionFileContainer{
    height: 50px;
}


.MWANameSection {
    height: var(--group-menu-height);
    display: none; /*TODO: verif if wanted*/
    background-color: #efefef;
    border-bottom: 1px solid #666;
}
.MWALeftPanelBottomSection {
    position: relative;
    height: calc(100% - 51px);
}
.MWALeftPanelBottomSection .notifsPermissionBtn {
    font-size: 20px;
    text-align: left;
    position: relative;
}
.MWALeftPanelBottomSection .notifsPermissionBtn::before {
    content: "🔔";
    float: left;
    font-size: 33px;
    margin-right: 10px;
}
.MWALeftPanelGroupsListContainer {
    max-height: 100%;
    overflow-y: auto;
}
.MWALeftPanelAddButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: #f3f;
    font-size: 35px;
    line-height: 50px;
}
.MWAWriteSectionFileContainer {
    height: 0;
    overflow: hidden;
    position: relative;
    display: block;
    transition: height 0.5s;
}
.MWAWriteSectionFileImage {
    height: 40px;
    width: 40px;
    border: 1px solid #666;
    border-radius: 5px;
    background-size: cover;
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
    margin-left: 10px;
    background-position: center;
}
.MWAWriteSectionFileName {
    display: inline-block;
    vertical-align: top;
    height: 50px;
    line-height: 47px;
    padding-left: 10px;
    overflow: hidden;
    padding-right: 10px;
    max-width: calc(100% - 40px - 20px - 30px);
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
}
.MWAWriteSectionTextInput {
    width: calc(100% - 2 * (var(--write-section-input-sizes) + 20px));
    margin-left: 10px;
}
.MWAWriteSectionTextInput,
.MWAWriteSection > button{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    line-height: var(--write-section-input-sizes);
    border: none;
    border-radius: calc(var(--write-section-input-sizes) / 2);
}
.MWAWriteSection > button {
    padding: 0;
    width: var(--write-section-input-sizes);
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #444;
}
.MWAWriteSectionFileButton::before{

}
.MWAWriteSectionFileCloseButton {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
    background-position: center;
}
.MWANameLeftSection {
    width: calc(100% - 50px);
    display: inline-block;
    vertical-align: top;
}
.MWANameRightSection {
    width: 50px;
    display: inline-block;
    vertical-align: top;
	padding: 10px;
}
.MWANameSectionInfoButton {
    height: 30px;
    width: 30px;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 17px;
    font-weight: bold;
    color: #666;
}
.MWANameSectionImage {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #ccc;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}
.MWANameSectionName {
    display: inline-block;
    vertical-align: middle;
    max-width: calc(100% - 50px);
    padding-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 22px;
}

.groupMessageSection {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 10px;
}
.groupMessageSection .messageAdapterLine:last-child{
    margin-bottom: var(--write-section-height);

}

.MWAMessagesSectionNoSelectedInfo {
    position: absolute;
    left: 0;
    font-size: 25px;
    color: #ddd;
    width: 100%;
    text-align: center;
    top: calc(50% - 50px);
    text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

.MWAMenuButton {
    background-image: url("/images/menu.png");
    height: 35px;
    width: 35px;
    display: none;
    vertical-align: middle;
    margin-left: 10px;
    background-position: center;
    background-size: cover;
}

.MWALeftPanel.leftMenuDisplayed {
    display: inline-block;
}
.MWALeftPanel .MWAMenuButton {
    margin-left: -5px;
    margin-right: 5px;
}
.httpsPopup {
    position: fixed;
    top: 50px;
    right: 10px;
    background: rgba(255,255,0,0.6);
    display: inline-block;
    padding: 5px 10px;
    font-size: 20px;
    padding-right: 35px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}
.httpsPopup > button {
    position: absolute;
    right: 5px;
    border-radius: 100%;
    font-size: 20px;
    top: 3px;
    background: rgba(0,0,0,0.2);
}

/*Message adapter*/
.messageAdapterLine.selfMessage {
    text-align: right;
}
.messageAdapterBox {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: 200px;
	max-width: calc(100% - 50px);
    border-radius: 20px;
    position: relative;
}
.messageAdapterBox.foreignMessage {
    background-color: #00bbde;
}
.messageAdapterBox.selfMessage {
    background-color: #0eca01;
}
.messageAdapterBox::after{
    content: "";
    display: inline-block;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 0;
    width: 25px;
    height: 16px;
}
.messageAdapterBox.foreignMessage::after {
    background-image: url(/images/left_horn.png);
    left: -15px;
}
.messageAdapterBox.selfMessage::after{
    background-image: url(/images/right_horn.png);
    right: -15px;
}
.messageAdapterName {
    color: #eee;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.messageAdapterImageContainer {
    text-align: center;
    width: 100%;
    display: block;
}
.messageAdapterImage {
    height: 250px;
    background-size: cover;
    background-position: center;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    min-width: 300px;
    max-width: 400px;
}
.messageAdapterText {
    font-size: 20px;
    text-align: left;
    display: inline-block;
    max-width: 500px;
    word-break: break-word;
    color: white;
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.messageAdapterTime {
    color: #444;
    font-size: 12px;
}
.messageAdapterTime.selfMessage {
    text-align: left;
}
.messageAdapterTime.foreignMessage {
    text-align: right;
}
/*Separator*/
.dateSeparatorLine {
    text-align: center;
    display: block;
    margin-top: 20px;
}
.dateSeparatorBox {
    display: inline-block;
    padding: 3px 10px;
    border-radius: 10px;
    background-color: #f6f6f699;
    line-height: 20px;
}
/*Group Adapter*/
.groupAdapterContainer {
    border-bottom: 2px solid #4a4a4a;
    cursor: pointer;
    line-height: 60px;
    transition-property: background-color;
    transition-duration: 0.3s;
	position: relative;
	-webkit-user-select: none;
}
.groupAdapterContainer:hover {
    background-color: #e6c2e6;
}
.groupAdapterImage {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin: 4px;
    display: inline-block;
    border: 1px solid #888;
	vertical-align: middle;
	background-position: center;
	background-size: cover;
}
.groupAdapterName {
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 100px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	padding-left: 5px;
}

.groupAdapterNotifPin {
    height: 30px;
    width: 30px;
    position: absolute;
    background-color: red;
    border-radius: 20px;
    right: 10px;
    top: 14px;
    color: white;
    text-align: center;
    vertical-align: 20px;
    font-size: 18px;
    padding-top: 3px;
    font-weight: bold;
}
.groupAdapterNotifPin[data-unread-count="0"] {
    display: none;
}
.groupAdapterNotifPin::after{
    content: attr(data-unread-count);
}
/*loginPage & register*/
.LOGINPageContainer,
.REGISTERPageContainer {
    text-align: center;
}
.loginFormWindow {
    border: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle;
    /* min-height: 350px; */
    width: calc(100% - 10px);
    max-width: 350px;
    box-shadow: 0 0 20px #666;
    margin-top: calc(50vh - 200px);
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 50px;
}
.REGISTERPageContainer .loginFormWindow{
    max-width: 500px;
    margin-top: 50px;
}
.loginFormTitle{
    margin-bottom: 0;
}
.loginTempUserButton {
    display: inline-block;
    margin: 5px;
    width: calc(50% - 10px);
    height: 50px;
    font-size: 23px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.loginForm {
    padding: 10px 20px 10px 20px;
}
.loginForm > label {
    width: 100%;
    text-align: left;
    display: inline-block;
    font-size: 20px;
    padding-left: 5px;
}
.loginForm > input {
    width: 100%;
    font-size: 25px;
    margin-bottom: 20px;
    padding: 5px 10px 5px 10px;
}
.loginForm > button[type=submit]{
    display: inline-block;
    font-size: 25px;
    margin-bottom: 15px;
    padding: 5px 20px 5px 20px;
}
.loginForm > a{
    display: block;
    width: 100%;
}

/*WINDOWS*/
.windowsContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    text-align: center;
    overflow: auto;
}
.window {
    display: none;
    position: relative;
    border: 1px solid #666;
    margin-top: 100px;
    background-color: white;
}
.window:last-child { /*only display one window at a time*/
    display: inline-block;
}
.windowTopBar {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #666;
    background-color: #fefefe;
    position: relative;
    padding-top: 4px;
}
.windowTitle {
    display: inline-block;
    width: calc(100% - 50px);
    text-align: left;
    font-size: 20px;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    padding-right: 5px;
}
.windowCloseButton {
    height: 30px;
    width: 30px;
    vertical-align: middle;
    font-size: 20px;
}
.windowMainSection {
    padding: 20px;
    position: relative;
}

/*image select window*/
.imageSelectWindow {
    width: 100%;
    max-width: 700px;
}
.imageSelectWindowDropZone {
    height: 100px;
    border-style: dashed;
    border-color: black;
    margin-right: 10px;
    width: calc(100% - 140px);
    vertical-align: middle;
    font-size: 20px;
    color: #666;
    line-height: 100px;
    -webkit-user-select: none;
}
.imageSelectWindowDropZone::after {
    content: "Déposez vos fichiers ici";
}
.imageSelectWindowDropZone.dragover {
    border-color: purple;
    border-width: 2px;
    background-color: #ee82ee6e;
}
.imageSelectWindowFakeInput {
    width: 130px;
    height: 100px;
    vertical-align: middle;
    background-color: #eee;
    font-size: 20px;
    text-align: center;
    line-height: calc(80px / 3);
    padding: 10px;
}
.imageSelectWindowPreviewImage {
    max-height: 400px;
    max-width: 100%;
    border: 2px solid #666;
}
.imageSelectWindowS2ButtonsContainer {
    position: relative;
    width: 100%;
    margin-top: 20px;
    height: 50px;
}
.imageSelectWindowChangeButton, .imageSelectWindowSubmitButton {
    position: absolute;
    width: calc(50% - 5px);
    max-width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    bottom: 0;
}
.imageSelectWindowChangeButton{
    left: 0;
}
.imageSelectWindowSubmitButton{
    right: 0;
}
/*group creation window*/
.groupCreationWindow {
    width: 100%;
    max-width: 700px;
}
.groupCreationTab {
    height: 30px;
    display: inline-block;
    width: 50%;
    border-width: 2px 2px 1px 2px;
    border-color: #666;
    border-style: solid;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    line-height: 27px;
}
.groupCreationTab.selected {
    border-color: #333;
    background-color: #f5f5f5;
    border-bottom-color: #f5f5f5;
	border-left-width: 1px;
	border-right-width: 1px;
}
.groupCreationSection {
    min-height: 100px;
    background-color: #f5f5f5;
    border: 1.5px solid #666;
    border-top: 0;
    padding: 10px;
}
.groupCreationGroupImage {

    height: 200px;
    width: 200px;
    border: 1px solid #bbb;
    border-radius: 5px;
    background-color: #bbb;
    background-size: cover;
    background-position: center;
    display: inline-block;
    position: relative;
    vertical-align: middle;

}
.groupCreationGroupImageButton {
    position: absolute;
    height: 40px;
    width: 150px;
    right: 5px;
    bottom: 5px;
    border-radius: 5px;
    font-size: 15px;
}
.groupCreationGroupNameContainer {

    width: calc(100% - 250px);
    display: inline-block;
    margin-left: 25px;
    text-align: left;
    vertical-align: middle;

}
.groupCreationGroupNameLabel {

    display: block;
    color: #666;
    padding-bottom: 5px;

}
.groupCreationGroupNameInput {
    display: block;
    border: 0;
    border-bottom: 1px solid;
    border-radius: 0;
    background-color: transparent;
    width: 100%;
    padding: 0;
    font-size: 25px;
}
.groupCreationGroupNameInput.error {
    border-color: red;
}
.groupCreationGroupNameInput:hover {
    border-bottom: 2.5px solid;
}
.groupCreationGroupUsers {
    margin-top: 20px;
}
.groupCreationGroupUsersTextContainer {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    text-align: left;
    padding: 10px;
}
.groupCreationGroupUsersTextTitle {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
}
.groupCreationGroupUsersTextList {
    width: 100%;
    font-size: 16px;
    word-wrap: break-word;
    padding-top: 20px;
}
.groupCreationGroupUsersSelector {
    display: inline-block;
    width: 50%;
    padding: 10px;
}
.groupCreationGroupUsersSearch {
    width: 100%;
}
.groupCreationGroupUsersSelectList {
    margin-top: 10px;
    height: 250px;
    border: 1px solid #999;
    background-color: white;
    border-radius: 5px;
    position: relative;
    text-align: left;
    overflow: hidden;
    overflow-y: scroll;
}
.groupCreationGroupUsersSelectList.error {
    border-color: red;
}
.groupCreationButtonsContainer {
    text-align: right;
    padding: 10px;
    padding-bottom: 0;
}
.groupCreationButton {
    height: 40px;
    border-radius: 5px;
    min-width: 150px;
    font-size: 18px;
}
/*___RESPONSIVE_STYLE____*/
@media (max-width: 800px) {
    .MWALeftPanel {
        width: 200px;
    }
    .MWARightPanel {
        width: calc(100% - 200px);
    }
    .groupAdapterImage {
        height: 40px;
        width: 40px;
        margin-top: 10px;
    }
    .groupAdapterName {
        width: calc(100% - 55px);
        padding-left: 0;
        font-size: 17px;
    }
}
@media (max-width: 550px) {
    .MWAMenuButton{
        display: inline-block;
    }
    .MWALeftPanel {
        display: none;
        width: 100%;
        border-right: 0;
    }
    .MWARightPanel {
        width: 100%;
    }
    .MWALeftPanelSearchInput {
        width: calc(100% - 40px);
    }
    .MWALeftPanelSearchButton{
        display: none;
    }
    .MWANameSectionName {
        max-width: calc(100% - 50px - 45px);
    }
}