/*general*/
*{
	box-sizing: border-box;
	font-family: Calibri;
}
.none{
	display:none!important;
}
body {
    padding: 0;
    margin: 0;
}
button, .button{
	cursor:pointer;
	transition-property: transform;
	transition-duration: 0.05s;
    transition-timing-function: linear;
    -webkit-user-select: none;
}
button:active, .button:active{
	transform:scale(0.85);
}
input, .input{
	padding-left: 10px;
	padding-right: 10px;
	line-height: 25px;
	border-radius: 5px;
	font-size: 16px;
	display: inline-block;
    border: 1px solid #999;
}
/*info box*/
.infoMessageBox {
    position: fixed;
    display: inline-block;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    transition: opacity 0.5s;
    opacity: 0;
    z-index: 20;
}
/*loader*/
.globalLoaderContainer {
    position: fixed;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    z-index: 30;
    transition: opacity 0.5s;
    opacity: 0;
}
.globalLoaderImage {
    height: 50px;
    width: 50px;
    background-image: url(/images/loader.svg);
    background-size: cover;
    position: absolute;
    top: calc(50vh - 25px);
    left: calc(50vw - 25px);
}
/*image zoom*/
.imageZoomBackground {
    z-index: 15;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.7);
    opacity: 0;
    cursor: pointer;
}
.imageZoomImage {
    position: absolute;
    height: calc(90vh);
    width: calc(90vw);
    top: 5vh;
    left: 5vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.imageZoomExitButton {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: white;
    font-size: 20px;
    color: #444;
    /*transition: opacity 0.5s;*/
    /*opacity: 0;*/
}
/*Top Menu*/
.MWATopMenu {
    width: 100%;
    border-bottom: 2px solid #666;
    background-color: black;
    color: white;
	height: 40px;
	line-height: 38px;
}
.MWATopMenuLeftSection, .MWATopMenuRightSection{
	width: 50%;
    display: inline-block;
	vertical-align: middle;
}
.MWATopMenuLeftSection{
	padding-left: 10px;
}
.MWATopMenuRightSection {
	text-align: right;
	padding-right: 10px;
}
.MWATopMenuTitle {
    font-size: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.MWATopMenuUserName {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 35px);
    padding-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.MWATopMenuUserImage {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
	height: 30px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid #666;
}

/*MWA Page*/
.MWAPageContainer {
    overflow: hidden;
    text-align: center;
    width: 100%;
}
.MWAPageContainer > div {
    text-align: left;
}
.MWAMainSection {
    width: 100%;
    height: calc(100vh - 40px);
    max-width: 1400px;
    display: inline-block;
    border: 1px solid #666;
}
.MWALeftPanel, .MWARightPanel {
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
.MWALeftPanel {
    width: 350px;
    border-right: 2px solid #666;
    background-color: #efefef;
}
.MWARightPanel {
    width: calc(100% - 350px);
}
.MWALeftPanelTopBar {
    height: 51px;
    border-bottom: 1px solid #aaa;
    background-color: #dedede;
    padding: 10px;
}
.MWALeftPanelSerachInput, .MWALeftPanelSearchButton{
    height: 30px;
    display: inline-block;
    vertical-align: top;
}
.MWALeftPanelSearchInput {
    width: calc(100% - 35px);
    margin: 0;
    margin-right: 5px;
	vertical-align: middle;
}

.MWALeftPanelSearchButton {
    width: 30px;
    border-radius: 5px;
    padding: 0;
    background-image: url(../images/search.png);
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: 0; 
	vertical-align: middle;
	display: inline-block;
}
.MWALeftPanelSearchButton:active{
    border: 1px;
}
.MWAWriteSection {
    padding: 3px;
    border-top: 2px solid #ccc;
    background-color: #dedede;
}
.MWAMessagesSection {
    position: relative;
    overflow: hidden;
    height: calc(100% - (30px + 10px) - 51px);
    transition: height 0.5s;
}
.writeExtended .MWAMessagesSection{
    height: calc(100% - (30px + 10px) - 51px - 50px);
}
.writeExtended .MWAWriteSectionFileContainer{
    height: 50px;
}

.MWANameSection {
    height: 51px;
    background-color: #efefef;
    border-bottom: 1px solid #666;
}
.MWALeftPanelBottomSection {
    position: relative;
    height: calc(100% - 51px);
}
.MWALeftPanelAddButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #ccc;
    /*background-color: #ff2525;*/
	background-color: #f3f;
    font-size: 35px;
    line-height: 50px;
}
.MWAWriteSectionFileContainer {
    height: 0;
    overflow: hidden;
    position: relative;
    display: block;
    transition: height 0.5s;
}
.MWAWriteSectionFileImage {
    height: 40px;
    width: 40px;
    border: 1px solid #666;
    border-radius: 5px;
    background-size: cover;
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
    margin-left: 10px;
    background-position: center;
}
.MWAWriteSectionFileName {
    display: inline-block;
    vertical-align: top;
    height: 50px;
    line-height: 47px;
    padding-left: 10px;
    overflow: hidden;
    padding-right: 10px;
    max-width: calc(100% - 40px - 20px - 30px);
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
}
.MWAWriteSectionTextInput {
    width: 100%;
    line-height: 30px;
    vertical-align: middle;
    height: 30px;
}
.MWAWriteSectionFileCloseButton {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
    background-position: center;
}
.MWAWriteSectionForm {
    width: calc(100% - 100px);
    margin-left: 10px;
    display: inline-block;
}
.MWAWriteSectionSendButton,
.MWAWriteSectionFileButton {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    border-radius: 50%;
    border: 2px solid #666;
    font-size: 15px;
    font-weight: bold;
}
.MWANameLeftSection {
    width: calc(100% - 50px);
    display: inline-block;
    vertical-align: top;
}
.MWANameRightSection {
    width: 50px;
    display: inline-block;
    vertical-align: top;
	padding: 10px;
}
.MWANameSectionInfoButton {
    height: 30px;
    width: 30px;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 17px;
    font-weight: bold;
    color: #666;
}
.MWANameSectionImage {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #ccc;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}
.MWANameSectionName {
    display: inline-block;
    vertical-align: middle;
    max-width: calc(100% - 50px);
    padding-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 22px;
}

.groupMessageSection {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
	padding-top: 10px;
}

.MWAMessagesSectionNoSelectedInfo {
    position: absolute;
    left: 0;
    font-size: 25px;
    color: #888;
    width: 100%;
    text-align: center;
    top: calc(50% - 50px);
}

.MWAMenuButton {
    background-image: url("/images/menu.png");
    height: 35px;
    width: 35px;
    display: none;
    vertical-align: middle;
    margin-left: 10px;
    background-position: center;
    background-size: cover;
}

.MWALeftPanel.leftMenuDisplayed {
    display: inline-block;
}
.MWALeftPanel .MWAMenuButton {
    margin-left: -5px;
    margin-right: 5px;
}

/*Message adapter*/
.messageAdapterLine.selfMessage {
    text-align: right;
}
.messageAdapterBox {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px 10px 5px 10px;
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: 170px;
	max-width: calc(100% - 50px);
    border-radius: 5px;
}
.messageAdapterBox.foreignMessage {
    background-color: lightgreen;
}
.messageAdapterBox.selfMessage {
    background-color: lightblue;
}
.messageAdapterName {
    color: #666;
}
.messageAdapterImageContainer {
    text-align: center;
    width: 100%;
    display: block;
}
.messageAdapterImage {
    height: 250px;
    background-size: cover;
    background-position: center;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    min-width: 300px;
    max-width: 400px;
}
.messageAdapterText {
    font-size: 20px;
    text-align: left;
    display: inline-block;
    max-width: 500px;
    word-break: break-word;
}
.messageAdapterTime {
    color: #444;
    font-size: 12px;
}
.messageAdapterTime.selfMessage {
    text-align: left;
}
.messageAdapterTime.foreignMessage {
    text-align: right;
}
/*Separator*/
.dateSeparatorLine {
    text-align: center;
    display: block;
    margin-top: 20px;
}
.dateSeparatorBox {
    display: inline-block;
    padding: 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #f6f6f6;
}
/*Group Adapter*/
.groupAdapterContainer {
    border-bottom: 1px solid #aaa;
    cursor: pointer;
    height: 60px;
    transition-property: background-color;
    transition-duration: 0.3s;
	border-top: 1px solid white;
	position: relative;
	-webkit-user-select: none;
}
.groupAdapterContainer:hover {
    background-color: #e6c2e6;
}
.groupAdapterImage {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin: 4px;
    display: inline-block;
    border: 1px solid #888;
	vertical-align: middle;
	background-position: center;
	background-size: cover;
}
.groupAdapterName {
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 100px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	padding-left: 5px;
}
.groupAdapterNotifPin {

    height: 30px;
    width: 30px;
    position: absolute;
    background-color: red;
    border-radius: 20px;
    right: 10px;
    top: 14px;
    color: white;
    text-align: center;
    vertical-align: 20px;
    font-size: 18px;
    padding-top: 3px;

}
/*loginPage*/
.LOGINPageContainer {
    text-align: center;
}
.loginFormWindow {
    border: 1px solid #ccc;
    display: inline-block;
    height: 300px;
    width: 350px;
    box-shadow: 0 0 20px #666;
    margin-top: calc(50vh - 150px);
}
.loginTempUserButton {
    display: inline-block;
    margin: 5px;
    width: 150px;
    height: 50px;
    font-size: 23px;
    margin-top: 55px;
}
.loginForm {
    padding: 10px;
}

/*WINDOWS*/
.windowsContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    text-align: center;
}
.window {
    display: inline-block;
    position: relative;
    border: 1px solid #666;
    margin-top: 100px;
    background-color: white;
}
.windowTopBar {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #666;
    background-color: #fefefe;
    position: relative;
    padding-top: 4px;
}
.windowTitle {
    display: inline-block;
    width: calc(100% - 50px);
    text-align: left;
    font-size: 20px;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    padding-right: 5px;
}
.windowCloseButton {
    height: 30px;
    width: 30px;
    vertical-align: middle;
    font-size: 20px;
}
.windowMainSection {
    padding: 20px;
    position: relative;
}

/*image select window*/
.imageSelectWindow {
    width: 100%;
    max-width: 700px;
}
.imageSelectWindowDropZone {
    height: 100px;
    border-style: dashed;
    border-color: black;
    margin-right: 10px;
    width: calc(100% - 140px);
    vertical-align: middle;
    font-size: 20px;
    color: #666;
    line-height: 100px;
    -webkit-user-select: none;
}
.imageSelectWindowDropZone::after {
    content: "Déposez vos fichiers ici";
}
.imageSelectWindowDropZone.dragover {
    border-color: purple;
    border-width: 2px;
    background-color: #ee82ee6e;
}
.imageSelectWindowFakeInput {
    width: 130px;
    height: 100px;
    vertical-align: middle;
    background-color: #eee;
    font-size: 20px;
    text-align: center;
    line-height: calc(80px / 3);
    padding: 10px;
}
.imageSelectWindowPreviewImage {
    max-height: 400px;
    max-width: 100%;
    border: 2px solid #666;
}
.imageSelectWindowS2ButtonsContainer {
    position: relative;
    width: 100%;
    margin-top: 20px;
    height: 50px;
}
.imageSelectWindowChangeButton, .imageSelectWindowSubmitButton {
    position: absolute;
    width: calc(50% - 5px);
    max-width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    bottom: 0;
}
.imageSelectWindowChangeButton{
    left: 0;
}
.imageSelectWindowSubmitButton{
    right: 0;
}
/*group creation window*/
.groupCreationWindow {
    width: 100%;
    max-width: 700px;
}
.groupCreationTab {
    height: 30px;
    display: inline-block;
    width: 50%;
    border-width: 2px 2px 1px 2px;
    border-color: #666;
    border-style: solid;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    line-height: 27px;
}
.groupCreationTab.selected {
    border-color: #333;
    background-color: #f5f5f5;
    border-bottom-color: #f5f5f5;
}
.groupCreationSection {
    min-height: 100px;
    background-color: #f5f5f5;
    border: 1.5px solid #666;
    border-top: 0;
    padding: 10px;
}

/*___RESPONSIVE_STYLE____*/
@media (max-width: 800px) {
    .MWALeftPanel {
        width: 200px;
    }
    .MWARightPanel {
        width: calc(100% - 200px);
    }
    .groupAdapterImage {
        height: 40px;
        width: 40px;
        margin-top: 10px;
    }
    .groupAdapterName {
        width: calc(100% - 55px);
        padding-left: 0;
        font-size: 17px;
    }
}
@media (max-width: 550px) {
    .MWAMenuButton{
        display: inline-block;
    }
    .MWALeftPanel {
        display: none;
        width: 100%;
        border-right: 0;
    }
    .MWARightPanel {
        width: 100%;
    }
    .MWALeftPanelSearchInput {
        width: calc(100% - 40px);
    }
    .MWALeftPanelSearchButton{
        display: none;
    }
    .MWANameSectionName {
        max-width: calc(100% - 50px - 45px);
    }
}