"use strict";
module.exports = {
    dbUser: "root",
    dbPassword: "",
    dbName: "messaging_web_app_db",
    storageDirectory: "/var/web_messaging/files",
    httpPort: 80,
    httpsPort: 443,
    webSocketPort: 8080,
    httpsCertPath: "/etc/letsencrypt/live/web_messaging.com/fullchain.pem",
    httpsKeyPath: "/etc/letsencrypt/live/web_messaging.com/privkey.pem",
    // wsPort:8080
}